[project]
name = "sample_project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.12.0",
]

[tools.black]
line-length = 100
target-version = ['py312']
